@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body {
    background: #e3f2fd;
    justify-content: center;
    text-align: center;
}
nav {
    position: -webkit-sticky;
    position: sticky;
    padding: 10px;
}
ul {
    font-size: 24px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
}
li {
    float: left;
}
li.email {
    float: right;
}
li a {
    display: block;
    color: #000;
    text-align: center;
    padding: 10px 14px;
    text-decoration: none;
}
li a:hover:not(.active){
    background-color: #444;
    color: #fff;
}
li a.active {
    background-color: orange;
}
h1 {
    text-align: center;
    padding: 60px 0px 10px;
    margin: 10px;
    font-weight: 700;
    color: #444;
    text-shadow: 0 10px 20px rgba(52, 87, 220, 0.08);
}
.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 30px;
}
.container .info {
    width: 45%;
    height: 400px;
    background: white;
    line-height: 3em;
    border: 1px solid #444;
    border-radius: 20px;
}
.contact .info p {
    font-size: 1.1em;
    font-weight: 400;
}
.container .calculater {
    width: 45%;
    height: 400px;
    background: white;
    line-height: 3em;
    border: 1px solid #444;
    border-radius: 20px;
}
table {
    width: 100%;
}
tr, td{
    width: 50%;
}
.refresh-btn {
    position: fixed;
    outline: none;
    cursor: pointer;
    color: #fff;
    background: #8a6cff;
    border: 2px solid #fff;
    border-radius: 5px;
    box-shadow: 0 15px 25px rgba(52, 87, 220, 0.2);
    bottom: 40px;
    left: 50%;
    padding: 12px 20px;
    font-size: 1.1rem;
    font-weight: 500;
    transform: translateX(-50%);
    transition: transform 0.3s ease;
}
.refresh-btn:hover {
    outline-offset: 2px;
}
.refresh-btn:active {
    padding: 10px 18px;
    bottom: 42px;
}